#book-list {
  list-style: none;
  padding-left: 0;
}

#book-list li {
  width: 200px;
  display: inline-block;
  border-radius: 15px;
  box-shadow: 2px 2px 4px #333;
  margin-right: 5px;
  margin-top: 8px;
  padding: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.Actionbtns {
  display: flex;
  gap: 5%;
}
